{{ if .Store.Get "hasMermaid" }}
<script type="module">
    import mermaid from "https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.esm.min.mjs";
        mermaid.initialize({ 
			startOnLoad: true,
			/*针对PaperMod Dark模式的兼容*/
			theme: document.body.className.includes("dark") ? "dark" : "default"
		});
</script>
{{ end }}


<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Noto+Sans+SC:wght@100..900&display=swap" rel="stylesheet">

<meta name="google-site-verification" content="gZ_y5FZMr0xyqn2GYGweWkUiR91xeh6QD1rotAljnIQ" />

<script>
document.addEventListener("DOMContentLoaded", () => {
	var body = document.body.textContent;
	const mainBlock = document.querySelector(".main");
	
	// 页面是否使用数学公式
	{{ if .Param "math" }}
	const useMath = true;
	{{ else }}
	const useMath = false;
	{{ end }}
	
	// 根据有无$符号判断是否加载Mathjax, 懒加载并且避免Mathjax未渲染所有的符号
	if (useMath && body.match(/(?:\$|\\begin\{.*?})/)) {
		// 超时后若MathJax未成功加载则直接显示内容
		const timeoutId = setTimeout(() => { mainBlock.classList.add("visible"); }, 3000);
		if (!window.MathJax) {
		  window.MathJax = {
			tex: {
			  inlineMath: [["$", "$"]],
			  displayMath: [["$$", "$$"]],
			  processEscapes: true,
			},
			options: {
				skipHtmlTags: [
					"script", "noscript", "style", "textarea", "pre",
					"code", "annotation", "annotation-xml"
				],
		    },
			startup: {
		        typeset: false,
		        pageReady: () => {
					return MathJax.startup.defaultPageReady()
						.then(() => {
							MathJax.typeset();
				            // 渲染完成后显示 main 块
				            mainBlock.classList.add("visible");
				            clearTimeout(timeoutId);
				        })
				        .catch((err) => {
				            console.error("MathJax rendering failed:", err);
				        });
				}
			}
		  };
		}
		var script = document.createElement("script");
		script.src = "https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js";
		script.setAttribute("async", "");
		document.head.appendChild(script);
	} else {
		// 直接显示 main 块
		mainBlock.classList.add("visible");
	}
});
</script>
